<div class="container">

  <h1>Event Calendar</h1>

  <button (click)="showForm = !showForm">
    Add Event
  </button>

  <form *ngIf="showForm"
        [formGroup]="eventForm"
        (ngSubmit)="addEvent()">

    <input
      type="text"
      placeholder="Event Title"
      formControlName="title"
    />

    <div class="error"
      *ngIf="eventForm.get('title')?.invalid &&
      eventForm.get('title')?.touched">

      Title is required

    </div>

    <input
      type="date"
      formControlName="date"
    />

    <div class="error"
      *ngIf="eventForm.get('date')?.invalid &&
      eventForm.get('date')?.touched">

      Date is required

    </div>

    <button type="submit">
      Save Event
    </button>

  </form>

  <div *ngFor="let event of events"
       class="event-card">

    <h3>{{ event.title }}</h3>

    <p>{{ event.date }}</p>

  </div>

</div>